config DRM_IMX
	tristate "DRM Support for Freescale i.MX"
	depends on DRM && ARCH_MXC

config DRM_IMX_LCDC
	tristate "DRM Support for i.MX1 and i.MX2"
	depends on DRM && IMX_HAVE_PLATFORM_IMX_FB
	select DRM_SDRM
	help
	  Choose this if you have a i.MX1, i.MX21, i.MX25 or i.MX27 processor.

config DRM_IMX_IPUV3_CORE
	tristate "IPUv3 core support"
	depends on DRM && ARCH_MXC

config DRM_IMX_IPUV3
	tristate "DRM Support for i.MX IPUv3"
	depends on DRM && ARCH_MXC
	select DRM_SDRM
	help
	  Choose this if you have a i.MX1, i.MX21, i.MX25 or i.MX27 processor.
